*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
    font-size:10px;
    color:#282C34;
    font-family:"Verdana";
}
body{
    font-size:1.5rem;
    display:flex;
    justify-content:center;
}
h2{
    font-size:1.8rem;
    line-height:2;
}
p{
    line-height:1.5;
}
nav{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:7;
    background:#f9f9f9;
    overflow:auto;
}
.navContainer{
    margin:3rem;
    display:flex;
    flex-direction:column;
}
a{
    color:#282C34;
    text-decoration:none;
    border-radius:0.2rem;
    display:inline-block;
}
nav a{
    width:13rem;
    height:3rem;
    text-align:center;
    line-height:3rem;
    background:#fff;
}
nav a:hover{
    background:#ffe1aa;
}
.navContainer a:not(:first-of-type){
    margin-top:1rem;
}
.navContainer a:first-of-type{
    background:#4BD9B3;
}
.aHere{
    background:#ffe1aa;
}
.nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:3;
    background:#fff;
    box-shadow:4px 8px 5px 5px rgba(0,0,0,0.03);
    text-align:center;
    margin-left:19rem;
}
.nav a{
    line-height:6rem;
    padding:0 1.5rem;
}
.nav a:hover{
    color:#4BD9B3;
}
main{
    max-width:540px;
    margin-left:19rem;
    margin-top:6rem;
    padding:3rem;
}
section{
    border-top:1px solid #e0e0e0;
}
mark{
    background:#4BD9B3;
    color:#282C34;
}
table{
    border-collapse:collapse;
}
tr{
    border:1px solid #e0e0e0;
}
th,td{
    padding:1.5rem;
}
.browser{
    font-weight:bold;
}
.ie{
    color:#0078D7;
}
.chrome{
	background:linear-gradient(to right,#4AB146 50%,#5F95CC 50%);
    background-clip:text;
	-webkit-background-clip:text; 
    color:transparent;
}
.firefox{
    background:linear-gradient(to right,#F79D15 50%,#F6C645 50%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.safari{
    background:linear-gradient(to right,#0593DD,#09BEE9,#0593DD);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.opera{
    background:linear-gradient(to right,#F21C4E 50%,#DC0046 50%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.not{
    color:#B53471;
}
label,#navBut{
    display:none;
}
::selection{
    background:#ffe1aa;
    color:#282C34;
}